body {
    background-color: #8FDABB ;
    margin-top: 200px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Arial
}
style {
    max-width: 100%;
    height: auto;
}